<div class="jumbtron">
  <h1 class="display-4 text-center">Registro de Aerolíneas</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-aerolinea></app-aerolinea>
    </div>
    <div class="col-md-7">
      <app-aerolinea-list></app-aerolinea-list>
    </div>
  </div>
</div>