<table class="table table-hover">
  <tr *ngFor="let aero of service.listadoAerolineas">
    <td (click)="populateForm(aero)">{{aero.id}}</td>
    <td (click)="populateForm(aero)">{{aero.nombre}}</td>
    <td (click)="populateForm(aero)">{{aero.direccion}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarAerolinea(aero.id)"></i>
    </td>
  </tr>
</table>