<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-plane-departure" [class.green-icon]="nombre.valid" [class.red-icon]="nombre.invalid && nombre.touched"></i>
        </div>
      </div>
      <input name="nombre" #nombre="ngModel" [(ngModel)]="service.formData.nombre" class="form-control"
        placeholder="Nombre de la aerolinea" required>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-map-marked-alt"  [class.green-icon]="direccion.valid" [class.red-icon]="direccion.invalid && direccion.touched"></i>
        </div>
      </div>
      <input name="direccion" #direccion="ngModel" [(ngModel)]="service.formData.direccion" 
      class="form-control" placeholder="Dirección de la aerolinea" required maxlength="25" minlength="8">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
  </div>
</form>